<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dash de Finanças de Abner</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
 
<!-- <div class="container">
  <script>
    setTimeout(function() {
        document.getElementById('flash-message').style.display = 'none';
        window.location.href = '/';
    }, 3000); // Aguarda 3 segundos antes de redirecionar
</script> -->
  

<!-- <div class="period-container-wrapper">
  <button class="period-button" onclick="filtrarGastos('semanaatual')">Semana Atual</button>
  <button class="period-button" onclick="filtrarGastos('ontem')">Ontem</button>
  <button class="period-button" onclick="filtrarGastos('hoje')">Hoje</button>
  <button class="period-button" onclick="filtrarGastos('semanapassada')">Semana Passada</button>
  <button class="period-button" onclick="filtrarGastos('mesatual')">Mês Atual</button>
  <button class="period-button" onclick="filtrarGastos('mesanterior')">Mês Anterior</button>
</div> -->
<div class="container-btn">
<div class="period-container-wrapper" id="period-buttons">
  <button class="period-button " onclick="filtrarGastos('semanaatual')">Semana Atual</button>
  <button class="period-button " onclick="filtrarGastos('ontem')">Ontem</button>
  <button class="period-button " onclick="filtrarGastos('hoje')">Hoje</button>
  <button class="period-button " onclick="filtrarGastos('semanapassada')">Semana Passada</button>
  <button class="period-button " onclick="filtrarGastos('mesatual')">Mês Atual</button>
  <button class="period-button " onclick="filtrarGastos('mesanterior')">Mês Anterior</button>
</div>
</div>

<br><br>
 
  <div id="mensagem" style="display: none; color: red; font-weight: bold; text-align: center; margin-top: 10px;"></div>
  <div class="chart-container">
    <canvas id="donutChart"></canvas>
</div>

<div id="total" style="text-align: center; margin-top: 20px; ">
   <h3 class="txt1">Total Gasto no período: R$ <span id="valor-total">0,00</span></h3>
</div>

<div class="button-container">
  <a href="{{ url_for('gasto.cadastrar_gasto') }}"><button class="btn-left">Adicionar Gasto</button></a>
  
  <!-- <button class="btn-right">Detalhar Gastos</button> -->
  <a href="{{ url_for('gasto.detalhar_gastos') }}"><button class="btn-right">Detalhar Gastos</button></a>

  <a href="{{ url_for('gasto.login') }}" ><button class="btn-voltar">Sair</button></a>
</div>


<!-- 
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script> -->
  <script src="static/js/scripts.js" defer></script>
</body>
</html>